$color-black: #000000;
$color-shark: #292E36;
$color-gray: #323841;
$color-tuna: #353542;
$color-emperor: #555555;
$color-shuttle-gray: #5C6168;
$color-silver-chalice: #AAAAAA;
$color-alto: #DCDCDC;
$color-soapstone: #FFF8F5;
$color-white: #ffffff;
$color-equator: #E1B168;


$m-font-jose: 'Josefin Sans';
$m-font-cor-reg: 'Cormorant Infant Regular';
$m-font-cor-bold: 'Cormorant Infant Bold';