.reserv {
    display: flex;
    justify-content: center;

    &__container {
        background: $color-shark;
        opacity: .95;
        padding: 140px;
        text-align: center;
        max-width: 920px;
        width: 100%;
        margin: 140px 40px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        max-width: 640px;
        width: 100%;
    }

    &__input {
        height: 70px;
        padding: 19px 23px;
        margin-bottom: 30px;

        &:not(:last-child) {
            margin-right: 23px;
        }

        &-first {
            max-width: 307px;
            width: 100%;
        }

        &-second {
            max-width: 198px;
            width: 100%;
        }
    }
}

input {
    background: transparent;
    border: 1px solid $color-shuttle-gray;
    color: $color-white;
    font-family: $m-font-cor-reg, sans-serif;
    font-size: 22px;
    line-height: 33x;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;

    &:hover::placeholder {
        color: $color-equator;
    }

    &::placeholder {
        color: $color-white;
    }

    &:focus {
        outline: 0;
        box-shadow: 1px 1px 5px $color-equator;

        &:hover::placeholder {
            color: $color-white;
        }
    }
}

@media (max-width:999px) {
    .reserv {
        padding: 0 10px;

        &__container {
            padding: 60px;
            max-width: 720px;
        }
    }
}

@media (max-width:599px) {
    .reserv {
        &__container {
            padding: 20px;
            margin: 80px 10px;
        }

        &__item {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__input {

            &:not(:last-child) {
                margin-right: 0px;
            }


            &-second {
                max-width: 307px;
                width: 100%;
            }
        }
    }
}